doctype html
html(ng-app="app", ng-controller="MainController as mainvm")
  head
    title app-engine-webapp-seed
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="TODO")
    meta(name="author", content="TODO")
    link(rel="icon", type="image/png", href="/public/img/favicon.png")
    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}
    link(href="{{ revision('main', 'css') }}", rel="stylesheet", type="text/css")

  body.layout-column
    header
    .main.flex
      block content
    footer
    block js